

<div class="tabs-striped tabs-top tabs-background-calm tabs-color-light">
    <div class="tabs">
      <a class="tab-item " href="#/app/chores">

        Shopping
      </a>
      <a class="tab-item active" href="#/app/todo">

        Todo
      </a>
      <a class="tab-item" href="#/app/shopping">

        Homework
      </a>
    </div>
  </div>

<ion-view view-title="Todo">
  <ion-content>



<!--<div class="item item-input-inset">
    <label class="item-input-wrapper " type="search" value= "">
     <input type="text" id="new-todo"  placeholder="What needs to be done?" autofocus ng-model="text">
</label>

      <button class="button button-icon icon ion-plus-circled positive" ng-click="addtodo(text)"></button>
</div>


  <div class="list">
<ion-checkbox
                      ng-repeat="todo in todos"
                      ng-model="todo.completed"
                      ng-checked="todo.completed">
        <s ng-show="todo.completed">  <h2>{{ todo.title }}</h2></s>
        <h2 ng-hide="todo.completed">{{ todo.title }}</h2>


        </ion-checkbox>
</div>

<div class="list">


                <ion-checkbox ng-repeat="todo in todos" class="item-icon-right" ng-model="todo.completed" ng-checked="todo.completed">

                      <h2>  {{todo.title}} </h2>
                      <h2>  {{todo.completed}} </h2>

               <ion-option-button  ng-click="delete(todo)" class="icon ion-trash-a"></ion-option-button>

<i ng-show="todo.completed" class="ion-ios-circle-outline"></i><i ng-hide="todo.completed" class="ion-ios-checkmark"></i>

                </ion-checkbox>
              </div>-->

<br><br>

  <ion-list class="list " ng-repeat="item in items" >
<ion-item  class="item item-icon-right" ng-click="purchaseItem(item)" ng-class="{purchased: item.checked == 'false'}">



<h2>{{item.name}}</h2>


<i class="icon calm"  ng-class="item.checked == 'false'? 'ion-android-checkbox-outline' : 'ion-android-checkbox-outline-blank'"></i>
<!--<i class="icon positive ion-ios-trash" ng-click="deleteTodo(todo)"></i>
 <button ng-click="deleteTodo(todo)" type="button button-right" class="button button-positive" name="button">Delete item</button>-->

<ion-option-button class="button-assertive" ng-click="deleteTodo(item)">
      <i class="icon ion-trash-a"> </i>
    </ion-option-button>

  </ion-item>
</ion-list>





                      <!---   <div class="item item-input-inset">
                             <label class="item-input-wrapper " type="search" value= "">
                               <input type="text" placeholder="Input for query" ng-model="query">
                         </label>

                               <button class="button button-right" ng-click="get(query)">Get request</button>
                         </div>

<h2>{{result._id}}</h2> -->



    </ion-content>
    <div  ng-click="addItem() "class="bar bar-footer bar-calm">

      <div class="title">Click to add item </div>
    </div>
</ion-view>
